<div class="container">
    <div class="my-3">
        <h4>CALENDARIO DE EVENTOS</h4>
        <p>
            En nuestro calendario, se presentan las ferias y actividades relacionadas con los juegos de mesa, incluyendo
            detalles como la dirección y otra información relevante. Los usuarios/as pueden acceder y modificar la
            información de cada evento simplemente clicando sobre el deseado.</p>
    </div>
    <div class="my-4 mb-5">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>