<div class="container my-3">
    <h4 class="">GRÁFICOS</h4>
    <div class="row">
        <div class="col-12">
            <h5 class="text-info">NÚMERO DE PROPUESTAS SEGUN CATEGORÍAS</h5>
            <p>¡Echa un vistazo a este gráfico! Aquí hemos organizado todas las propuestas que hemos recopilado, divididas por los lugares que encontramos en el mapa.</p>
                <canvas class="m-4" id="categoryChart"></canvas>
        </div>
    </div>
    <div class="row">
        <h5 class="text-info mt-4">LAS ESTADÍSTICAS DE LOS JUEGOS DE MESA</h5>
        <p>Presentamos una serie de estadísticas detalladas derivadas de nuestra extensa base de datos de juegos de mesa. Estos datos proporcionan insights valiosos sobre tendencias de juego</p>

        <div class="col-lg-6 col-12">
            <h6 class="text-info">Edad mínima recomendada(años)</h6>
            <canvas class="m-4" id="pieChartAge"></canvas>
        </div>
        <div class="col-lg-6 col-12">
            <h6 class="text-info">Tiempo de juego(minutos)</h6>
            <canvas class="m-4" id="pieChartPlaytime"></canvas>
        </div>
    </div>
</div>
