<div class="container">
    <h4 class="my-3">MAPA</h4>
    <p>Desde Barcelona inicia nuestra aventura lúdica, guiándote por un mapa de diversión sin límites. Tiendas con tesoros de juegos, bibliotecas que prestan más que libros, bares donde la estrategia se encuentra con la sociabilidad, y asociaciones para conectar con la comunidad. Este es solo el comienzo; soñamos con expandir este mapa a cada rincón del mundo, invitándote a descubrir y disfrutar de la magia de los juegos de mesa dondequiera que estés.</p>
    <div class="map-container">
    <div id="map" class="map-container">
    </div>
    <select class="form-select map-select shadow" [(ngModel)]="selectedCategory" (change)="filterMarkers()">
        <option selected>SELECCIONA CATEGORÍA</option>
        @for(categoria of categorias; track $index){
            <option [value]="categoria">{{categoria}}</option>
    }
    </select>
    </div>
</div>

